.project-link {
    font-family: "Calibri";
    font-size: 15pt;
    text-decoration: none;
    color: none;
}

.project-name {
    color:black;
}

.project-member-count {
    font-size: 12pt;
    color: gray;
}

.project-desc-container {
    max-width: 70%;
    max-height: 30%;
    margin: auto;
}