.login-container, .error-container {
    padding: 2em;
    margin: auto;
    width: 30em;
    margin-top: 10%;
}

.error-container {
    margin: auto;
    color: white;
    text-align: center;
    width: fit-content;
}

.error-message {
    margin: 0;
}

.form-row {
    display: block;
    margin: auto;
    text-align: center !important;
    padding: .5em;
}

.form-row > input {
  width: 20em;
  margin: auto;
}

.form-row > input,
.form-row > button {
  padding: .5em;
}

.login-submit {
    background-color: #661277;
    border: #480555 1px solid;
    color: white;
    border-radius: 10px;
    margin-top: .5em !important;
}