.login-container, .error-container, .signup-container {
    padding: 2em;
    margin: auto;
    width: 30em;
}

.login-container, .error-container {
    margin-top: 10%;
}

.signup-container {
    margin-top: 5%;
    width: fit-content;
}

.error-container {
    margin: auto;
    color: white;
    text-align: center;
    width: fit-content;
}

.error-message {
    margin: 0;
}

.form-row, .subfield {
    margin: auto;
    padding: .5em;
}

.form-row {
    display: block;
    text-align: center !important;
}

.subfield-container {
    display: inline;
}

.form-row > input {
  width: 20em;
  margin: auto;
}

.subfield {
    width: 10em !important;
}

.form-row > input,
.form-row > button {
  padding: .5em;
}

/* .login-submit {
    background-color: #661277;
    border: #480555 1px solid;
    color: white;
    border-radius: 10px;
    margin-top: .5em !important;
} */

.firstname-input {
    margin-left: 8px;
}