/* .navigate-bg-gradient {
    background-color: darkorchid;
    background: radial-gradient(#130044 0%, #2e00a5 62%, #130044 100%);
} */

nav a {
    text-decoration: none;
    color:aliceblue
}

.navigate-list {
    list-style: none;
    padding: 0;
    text-align: left;
    padding: 10px;
}

.navigate-list-item {
    display: inline;
    padding-left: 20px;
}

.navigate-container {
    /* max-width: 100%; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px; */
    background-color: rgb(34, 4, 139);
}